# python=3.10

accelerate
alembic
#apache_beam
#datasets==1.18.4
datasets
jupyter
matplotlib
#mteb
mwparserfromhell
nltk
numpy
openai
pandas
pydantic
pydantic-cli
pydantic-yaml
scikit-learn
scipy
tensorboard
torch
torchtext
transformers
tqdm

